<a href="{{ collection_url }}" title="{{ collection_title }}" class="{{ container_classes }} u-block">
    {%- assign card_size = card_size -%}
    {%- assign classes = 'c-card--no-max c-card--hover c-card--h3-heading u-mb0' -%}
    {%- if card_size == 'wide' -%}
        {%- assign photo = collection_photo | img_url: '2000x1200' -%}
    {%- else -%}
        {%- assign photo = collection_photo | img_url: '800x1000' -%}
    {%- endif -%}
    {%- if collection_description != blank -%}
        {%- assign description = collection_description | strip_html  -%}
    {%- else -%}
        {%- assign description = '' -%}
    {%- endif -%}
    {%- if collection_label != blank -%}
        {%- assign title = collection_label | strip_html  -%}
    {%- else -%}
        {%- assign title = '' -%}
    {%- endif -%}
    {%- assign photo_lazyload = true -%}
    {%- assign title_position = 'left' -%}
    {%- assign has_title_parallax = true -%}
    {% include 'card' %}
    
    {%- if collection_title != blank or collection_price != blank -%}
        <div class="u-mt u-ph-">
            <div class="u-flex">
                <div class="u-flex-grow js-title">{{ collection_title | strip_html }}</div>
                <div class="u-text-right js-price" style="flex: 0 0 40px;">{{ collection_price | strip_html | money_without_trailing_zero }}</div>
            </div>

            <p class="u-weight-regular u-font-size-14 u-leading-14 u-mt--">{{ collection_description }}</p>
        </div>
    {%- endif -%}
</a>
