<div class="o-layout u-flex@mobile">
    <div class="o-layout__item u-5/12@mobile">
        <img src="{{ section.blocks[0].settings.photo | img_url: '800x' }}" alt="" class="u-1/1">
    </div><div class="o-layout__item u-1/12 u-mb">
    </div><div class="o-layout__item u-5/12@mobile u-flex@mobile u-direction-column u-justify-end">
        <h3 class="u-heading u-mb">{{ section.blocks[0].settings.title }}</h3>

        <p>{{ section.blocks[0].settings.text }}</p>

        {%- if section.blocks[0].settings.cta_label and section.blocks[0].settings.cta_text -%}
            <a href="{{ section.blocks[0].settings.cta_url }}" class="c-button c-button--black u-mt">
                {{ section.blocks[0].settings.cta_label }}
            </a>
        {%- endif -%}
    </div><div class="o-layout__item u-1/12">
    </div>
</div>

{% schema %}
{
    "name": "About Josh 2013 1",
    "blocks": [
        {
            "name": "About Josh 2013 1",
            "type": "object",
            "limit": 1,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "photo",
                    "label": "Photo"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "textarea",
                    "id": "text",
                    "label": "Text"
                },
                {
                    "type": "url",
                    "id": "cta_url",
                    "label": "CTA URL"
                },
                {
                    "type": "text",
                    "id": "cta_label",
                    "label": "CTA Label"
                }
            ]
        }
    ]
}
{% endschema %}
