<section class="o-wrapper o-section">
    <div class="o-layout o-layout--large u-stack-layout@mobile">
        <div class="o-layout__item u-5/12@mobile">
            <div class="c-card c-card--default u-pl+ u-pl0@mobile">
                <div class="c-card__image-wrapper u-parallax" data-rellax-percentage="0.5" data-rellax-speed="0.25">
                    <div style="background-image: url({{ section.blocks[0].settings.photo_1 | img_url: '600x800' }})" class="c-card__image"></div>
                </div>
            </div>
        </div><div class="o-layout__item u-1/12">
        </div><div class="o-layout__item u-6/12@mobile">
            <div class="u-8/12@mobile u-mb+ u-mb0@mobile">
                <h3 class="u-heading u-mb">{{ section.blocks[0].settings.title }}</h3>

                <p>{{ section.blocks[0].settings.text }}</p>

                <a href="{{ section.blocks[0].settings.cta_url }}" class="c-button c-button--black u-mt">
                    {{ section.blocks[0].settings.cta_label }}
                </a>
            </div>

            <div class="c-card c-card--short u-spacing-top-8">
                <div class="c-card__image-wrapper u-parallax" data-rellax-percentage="0.5" data-rellax-speed="0.5">
                    <div style="background-image: url({{ section.blocks[0].settings.photo_2 | img_url: '700x600' }})" class="c-card__image"></div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Experts Teaser",
    "blocks": [
        {
            "name": "Teaser content",
            "type": "object",
            "limit": 1,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "photo_1",
                    "label": "Photo #1"
                },
                {
                    "type": "image_picker",
                    "id": "photo_2",
                    "label": "Photo #2"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "textarea",
                    "id": "text",
                    "label": "Text"
                },
                {
                    "type": "url",
                    "id": "cta_url",
                    "label": "CTA URL"
                },
                {
                    "type": "text",
                    "id": "cta_label",
                    "label": "CTA Label"
                }
            ]
        }
    ]
}
{% endschema %}
